<% layout("/layouts/boilerplate") %>



<form class="form" action="/articleS/<%= blog._id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
	
		<h3 class="text-center mb-5"> SEO DESCRIPTIONS</h3>
	
	<div class="input-group mb-3">
  <span class="input-group-text">SEO DESCRIPTIONS</span>
  <textarea class="form-control" name="blog[seo][description]"> <%= blog.seo.description%></textarea>
</div>

	
<div class="input-group mb-3">
  <span class="input-group-text">SEO KEYWORDS</span>
  <textarea class="form-control" name="blog[seo][keywords]"><%= blog.seo.keywords%></textarea>
</div> 
	
<div class="input-group mb-5">
  <span class="input-group-text">Title/ Seo Url Extention</span>
	<input type="text" value="<%= blog.seo.title%>"  class="form-control" name="blog[seo][title]">
  <input type="text"  value="<%= blog.urlExtention%>" class="form-control" name="blog[urlExtention]">	
</div>
	
	
	<div class="input-group mb-3">
		 <span class="input-group-text">Select Category</span>
	<select class="form-select mb-3" name="blog[category]">
		
			 <option selected>Все</option>
		   	<option<% if (blog.category){%> selected <%}%> value="<%=blog.category%>"><%=blog.category%></option>
		    <option value="Семья и отношения">Семья и отношения</option>
		    <option value="Юмор и развлечения">Юмор и развлечения</option>
		    <option value="Новости и СМИ">Новости и СМИ</option>
		    <option value="Политика">Политика</option>
			<option value="Видео и фильмы">Видео и фильмы</option>
			<option value="Бизнес и стартапы">Бизнес и стартапы</option>
			<option value="Познавательное">Познавательное</option>
			<option value="Искусство и фото">Искусство и фото</option>
			<option value="Здоровье и Спорт">Здоровье и Спорт</option>
			<option value="Криптовалюты">Криптовалюты</option>
			<option value="Путешествия">Путешествия</option>
			<option value="Маркетинг, PR, реклама">Маркетинг, PR, реклама</option>
			<option value="Технологии">Технологии</option>
			<option value="Цитаты">Цитаты</option>
			<option value="Образование">Образование</option>
			<option value="Экономика">Экономика</option>
			<option value="Мода и красота">Мода и красота</option>
			<option value="Еда и кулинария">Еда и кулинария</option>
			<option value="Авто">Авто</option>
			<option value="Животные">Животные</option>
			<option value="Медицина">Медицина</option>
			<option value="Лайфхаки">Лайфхаки</option>
			<option value="Игры и приложения">Игры и приложения</option>
			<option value="Лингвистика">Лингвистика</option>
			<option value="Лингвистика">работа и заработок</option>
</select>
	</div>
		
	<input type="hidden" value="false"  class="form-control" name="blog[published]" id="hiddenCheckBox">
  <input class="form-check-input" type="checkbox" value="" id="checkBox">
  <label class="form-check-label" for="flexCheckDefault">
     PUBLISH NOW
  </label>
	
	
	
	
	
	<!-- =====================================images====================== -->
	<% blog.images.forEach(image => {%>
	
		<div class="">
			
			<div class="">
			<img src="<%= image.url%>"   width="20%">
			<p><%= image.originalName%></p>
	</div>
			
			</div>
	<%})%>
	<div>
		
	</div>
	
			 <div class="mb-3">
  <label for="image" class="form-label">Upload photos</label>
  <input class="form-control" type="file" id="image" name="image" multiple>
</div>  <!--=====================FILE UPLOAD -->
	
	
	<!-- ///////////// -->
<hr class="mb-5">
	 <h3 class="text-center mb-5"> Article</h3>
	
	<div class="input-group mb-3">
		<span class="input-group-text">Main Title H1..</span>
	  <input type="text" value="<%= blog.title%>" class="form-control" name="blog[title]">
	</div> 
	
	<%  blog.content.forEach((article, indx)=> { %>
	<div class="section ">
	
	<div class="title text-muted mt-5 mb-3"> Paragraf <%= indx%></div>
	<hr mt-5>
	<div class="input-group mb-3">
		 <input type="text" value="<%= article.subtitle%>" class="form-control" name="blog[content][<%= indx %>][subtitle]">
	</div>
	
   <div class="input-group mb-3">
  <span class="input-group-text">Paragraf</span>
  <textarea class="form-control" name="blog[content][<%= indx %>][text]"><%= article.text%></textarea>
</div>
	
		
	<div class="input-group mb-5">	
		<span class="input-group-text">Image Alt / Img Path </span>
		<input type="text" value="<%= article.alt%>" class="form-control" name="blog[content][<%= indx %>][alt]">
		 <input type="text" value="<%= article.img%>" class="form-control" name="blog[content][<%= indx %>][img]">
		
	</div>
		
	</div>		
		
	<% }); %>
	
	
<input class="btn btn-success" type="submit" value="SAVE CHANGES">	
	
</form>

<div class="m-5">
	<a hreff="#"><button class="btn btn-success addParaghraf"> Add PARAGRAF </button></a>
</div>

<script src="/javaScripts/addparagraf.js"></script>
<script src="/javaScripts/checkbox.js"></script>

