<% layout("/layouts/boilerplate") %>


<div class="row position-relative">
	<div class="catigories d-flex justify-content-center bg-light p-1">
		
		<div class="catigories-wrapper d-flex">
			<div>
			<span class="">НОВОЕ</span>
		</div>
		<span class="pl-3 pr-3">|</span>
		<div>
			<span class=" ">ПОПУЛЯРНОЕ</span>
		</div>
		</div>
		<div class="catigories-wrapper d-none d-md-flex">
			<span class="pl-3 pr-3">|</span>
			<div>
			<span class="">ПУТЕШЕСТВИЯ</span>
		</div>
		<span class="pl-3 pr-3">|</span>
		<div>
			<span class="">СЕМЬЯ И ОТНОШЕНИЯ</span>
		</div>
		</div>
		
	</div>
	
	
	<%if (currentUrl != "/articles/unpublished" && seoTags != false) {%>
	<section class=" row p-0 m-auto d-flex justify-content-between">
		
		<div class=" col-md-6 mt-3 ">
			
			<a rel="internal" href="/articles/<%= allBlogs[0].urlExtention.replace(/ /g, "-")%>/<%= allBlogs[0]._id%>" class="text-decoration-none text-dark">
				
				
				 <div class=" card border-0 ">
						<div class="img-wrapper d-block p-0 ">
								<img src="<%= allBlogs[0].prevImg %>" alt="<%= allBlogs[0].title %>" class="img-fluid">
						</div>
						<div class="card-body cardOverlay text-light bottom-0 position-absolute">
							<h5 class="card-title pt-3 overlayTitle text-center">
								<%=allBlogs[0].title%>
							</h5>
							<div class="d-none d-lg-block">
								<% if (allBlogs[0].content[0].text.length > 1) {%>
								<p class="card-text text-center"><%- allBlogs[0].content[0].text.slice(0,100) + "..." %></p>
								  <% } else { %>
									  <p class="card-text text-center"><%- allBlogs[0].content[1].text.slice(0,100) + "..." %></p>
								 <% } %>
							</div>
						</div>
				</div>
				
			</a>
		</div>
		
		
		
		<div class=" col-md-6 mt-3">
			<a rel="internal" href="/articles/<%= allBlogs[1].urlExtention.replace(/ /g, "-")%>/<%= allBlogs[1]._id%>" class="text-decoration-none text-dark">
				
				<div class="card border-0 ">
					<div class="img-wrapper d-block p-0 ">
							<img src="<%= allBlogs[1].prevImg %>" alt="<%= allBlogs[1].title %>" class="img-fluid">
					</div>
					<div class="card-body cardOverlay text-light bottom-0 position-absolute">
						<h5 class="card-title overlayTitle pt-3 text-center">
							<%=allBlogs[1].title%>
						</h5>
						<div class="d-none d-lg-block">
							<% if (allBlogs[1].content[0].text.length > 1) {%>
							<p class="card-text text-center"><%- allBlogs[1].content[0].text.slice(0,100) + "..." %></p>
							  <% } else { %>
								  <p class="card-text text-center"><%- allBlogs[1].content[1].text.slice(0,200) + "..." %></p>
							 <% } %>
						</div>
					</div>
				</div>
				
			</a>
		</div>
	</section>

	
	
	<!-- <section class="col-sm-12 jumbotron p-0 position-relative">
	<div class="d-flex justify-content-center flex-column" style="width: 100%; height: 350px; background: teal; margin-bottom: 50px; overflow: hidden; background: url(https://res.cloudinary.com/dnl9unhgy/image/upload/v1612752580/BuduZnat/home12001_kxynl7.jpg) 100% 100% no-repeat;background-size: cover;">
		<h1 style="font-family: 'Caveat', cursive;" class="text-start text-light mb-3">Теперь ты будешь это знать..</h1> -->
		<!-- ===================SEARCH INPUT======================================= -->
		<!-- <form action="/articles/" method="GET" id="searchForm"  class="container d-none  d-md-flex d-xl-none position-absolute" style="width: 320px; bottom: 65px; right: 10px;">
					  <input id="searchInput" class="form-control me-2" type="text" placeholder="Search" name="search" aria-label="Search">
					  <button class="btn btn-success" type="submit">Search</button>
					</form> -->
	   <!-- -->
		<!-- </div>
		
		
	</section> -->
	
	<!-- ==========RESENT POSTS SECTION ======================== -->
	
	<section class="container-fluid resent-posts-section mb-5">
		<div class="section-title-box d-flex">
			<span class="popular">Недавно опубликованные</span>
		</div>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
				<%if (currentUrl != "/articles/unpublished") {%>	
					<% for(let i = 2; i < 5; i++){ %>	

					<a href="/articles/<%= allBlogs[i].urlExtention.replace(/ /g, "-")%>/<%= allBlogs[i]._id%>" class="text-decoration-none text-dark">
							 <div class="col">
								<div class="card mt-3 border-0 h-100 futured-card">
										<img src="<%= allBlogs[i].prevImg.replace("/upload", "/upload/w_600") %>" class="img-fluid " alt="<%=allBlogs[i].title %>">
										  <div class="card-body card-body-up">
												  <div class="card-title-wrapper text-center">
													  <h5 class="card-title fixed-title"><%=allBlogs[i].title%></h5>
												  </div>

												  <% if (allBlogs[i].content[0].text.length > 1) {%>
												        <p class="card-text text-center"><%- allBlogs[i].content[0].text.slice(0,90) + "..." %></p>
												  <% } else { %>
													    <p class="card-text text-center"><%- allBlogs[i].content[1].text.slice(0,90) + "..." %></p>
												  <% } %>
									     </div>

										<div class="card-footer mt-2">
											<span class="post-category text-light">
												<%= allBlogs[i].category%>
											</span>
											<div class="float-right">
												<small class="text-muted "><%=allBlogs[i].createdDate.toDateString()%></small>
												<small class="text-muted "> &#128065;<%=allBlogs[i].views.all%></small>
											</div>
										</div>

								</div>
						    </div>	
						</a>
							<% } %>	
						<% } %>	
				    
		</div>
	</section>
		<% } %>
	
	<!-- =============MAIN CONTENT SECTION============= -->
	<div class="mainContent  col-xl-9">
         <div class="advert-wrapper">
			 <div class="sm-hr-advert-container bg-secondary;">
				 Advert 728 / 90
			 </div>
		</div>
	<div class=" d-flex justify-content-between flex-wrap">	
		
		<div class="section-title-box-underlined d-flex">
			<span class="popular-no-box">Популярные статьи</span>
		</div>
		
			
		<%if (allBlogs.length < 1){%>
		
		<div class=" container-fluid alert alert-danger alert-dismissible fade show" role="alert">
			
			<%if (currentUrl != "/articles/unpublished") {%>
			   Пo запросу <strong>"<%= query %>"</strong> ничего не найдено..
			<% } else {%>
			Все статьи опубликованы. Здесь ничего нет..
			<%}%>
		     
		<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
		<%}%>
		
		
		
		
			<% for (let i = 5; i < allBlogs.length; i++){ %>
		
		<!-- ======card/////////////////// -->
<a href="/articles/<%= allBlogs[i].urlExtention.replace(/ /g, "-")%>/<%= allBlogs[i]._id%>" class="text-decoration-none text-dark">
				<div class="card mb-3 border-0">
						<div class="row">
								<div class="col-md-6 col-lg-4 d-block">
									
								<img src="<%= allBlogs[i].prevImg.replace("/upload", "/upload/w_600") %>" class="img-fluid " alt="<%= allBlogs[i].title %>">	
								</div>

								<div class="col-md-6 col-lg-8 d-block">
									<div class="card-body p-0  pt-2">
										<div class="post-meta">
											<span class="post-category text-light" ><%= allBlogs[i].category%></span>
											<% if (allBlogs[i].modifiedDate.length > 1){%>
												<span class="post-date text-muted"><%=allBlogs[i].modifiedDate%></span>
											<%} else {%>
												<span class="post-date text-muted"><%= allBlogs[i].createdDate.toDateString() %></span>
											<% } %>
											
										</div>
										
										<h5 class="card-title"><%- allBlogs[i].title %></h5>
										
										<% if(allBlogs[i].content[0].text.length > 0){ %>
										<p class="card-text  d-none d-sm-block"><%-allBlogs[i].content[0].text.slice(0,90) + "..." %></p>
										<%} else if(allBlogs[i].content[1] && allBlogs[i].content[1].text.length > 0) {%>
									    <p class="card-text d-none d-sm-block"><%- allBlogs[i].content[1].text.slice(0,90) + "..." %></p>
										<%} else{%>
										<p>
											 "no text"
										</p>
										<%}%>
										<p class="card-text mt-auto card-content-footer">	
										   <span class="text-muted">&#128065; <%=allBlogs[i].views.all%></span>
											<span class="float-right read-more">Читать далее..</span>
										</p>
										

										 <div class="d-flex justify-content-between">
										  <form action="/articles/<%= allBlogs[i]._id %>/?_method=DELETE" method="POST">
											  <% if (currentUser){ %>
											  <input type="submit" class="btn btn-danger btn-sm " value="DELETE">
											  <% } %>
										  </form>
											 
										  </div>

									</div>
						      </div>
						</div>
				</div>
		</a>
	
<% } %>
		
		
	</div>	
		
		<hr class="mb-3 shadow-lg">
		
		
		
		
		</div>	
		
		
		<!-- ===================Aside bar============ -->
		
		<div class="asideBar shadow-sm col-xl-3 d-none d-xl-flex flex-column position-relative" >
			<div class="topBlock  rounded  mb-5 mt-3 d-flex justify-content-center align-items-center"  style="height: 100px; max-width: 100%;background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);">
				 <div class="container-fluid ">
					 
					<form action="/articles/" method="GET" id="searchForm"  class="d-flex ">
					  <input id="searchInput" class="form-control me-2" type="text" placeholder="Search" name="search" aria-label="Search">
					  <button class="btn btn-success" type="submit">Search</button>
					</form>
					 
				  </div>
			</div>
			
			<div class="position-sticky"  style=" top: 80px; max-width:100%; height: 600px; background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
">
				
			</div>
		</div>
		
		
	
</div>


<script src="/javaScripts/search.js"></script>


