<% layout("/layouts/boilerplate") %>


<div class="row position-relative">
	<div class="catigories d-flex justify-content-center bg-light p-1">
		
		<div class="catigories-wrapper d-flex">
			<div>
			<span class="">НОВОЕ</span>
		</div>
		<span class="pl-3 pr-3">|</span>
		<div>
			<span class=" ">ПОПУЛЯРНОЕ</span>
		</div>
		</div>
		<div class="catigories-wrapper d-none d-md-flex">
			<span class="pl-3 pr-3">|</span>
			<div>
			<span class="">ПУТЕШЕСТВИЯ</span>
		</div>
		<span class="pl-3 pr-3">|</span>
		<div>
			<span class="">СЕМЬЯ И ОТНОШЕНИЯ</span>
		</div>
		</div>
		
	</div>
	
	<!-- <section class="col-sm-12 jumbotron p-0 position-relative">
	<div class="d-flex justify-content-center flex-column" style="width: 100%; height: 350px; background: teal; margin-bottom: 50px; overflow: hidden; background: url(https://res.cloudinary.com/dnl9unhgy/image/upload/v1612752580/BuduZnat/home12001_kxynl7.jpg) 100% 100% no-repeat;background-size: cover;">
		<h1 style="font-family: 'Caveat', cursive;" class="text-start text-light mb-3">Теперь ты будешь это знать..</h1> -->
		<!-- ===================SEARCH INPUT======================================= -->
		<!-- <form action="/articles/" method="GET" id="searchForm"  class="container d-none  d-md-flex d-xl-none position-absolute" style="width: 320px; bottom: 65px; right: 10px;">
					  <input id="searchInput" class="form-control me-2" type="text" placeholder="Search" name="search" aria-label="Search">
					  <button class="btn btn-success" type="submit">Search</button>
					</form> -->
	   <!-- ------------------------------------------------------------------------------ -->
		<!-- </div>
		
		
	</section> -->
	
	<!-- ==========RESENT POSTS SECTION ======================== -->
	
	<section class="container-fluid  mb-5">
		<div class="section-title-box d-flex">
			<span class="popular">Недавно опубликованные</span>
		</div>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
			
			<% for(let i = 0; i < 3; i++){ %>			
			
			 <div class="col">
				<div class="card mt-3 border-0 h-100 futured-card">
				  <img src="<%=allBlogs[i].content[0].img%>" class="card-img-top rounded-0" alt="<%=allBlogs[5].title%>">
				  <div class="card-body card-body-up">
					  <div class="card-title-wrapper text-center">
						  <h5 class="card-title fixed-title"><%=allBlogs[i].title%></h5>
					  </div>
					<p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				  </div>
					
					<div class="card-footer mt-2">
						<span class="post-category text-light">
							<%= allBlogs[i].category%>
						</span>
						<div class="float-right">
							<small class="text-muted "><%=allBlogs[i].createdDate.toDateString()%></small>
						    <small class="text-muted "> &#128065;<%=allBlogs[i].views.all%></small>
						</div>
   					 </div>
					
				</div>
			  </div>	
	 		<% } %>	
			
		</div>
	</section>
	
	
	<!-- =============MAIN CONTENT SECTION============= -->
	<div class="mainContent  col-xl-9">
         <div class="advert-wrapper">
			 <div class="sm-hr-advert-container bg-secondary">
				 Advert 728 / 90
			 </div>
		</div>
	<div class=" d-flex justify-content-between flex-wrap">	
		<div class="section-title-box d-flex">
			<span class="popular">Популярные статьи</span>
		</div>
		
			
		<%if (allBlogs.length < 1){%>
		
		<div class=" container-fluid alert alert-danger alert-dismissible fade show" role="alert">
			
			<%if (currentUrl != "/articles/unpublished") {%>
			   Пo запросу <strong>"<%= query %>"</strong> ничего не найдено..
			<% } else {%>
			Все статьи опубликованы. Здесь ничего нет..
			<%}%>
		     
		<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
		<%}%>
		
		
		
		
			<% allBlogs.forEach(blog =>{ %>
		
		<!-- ======card/////////////////// -->
<a href="/articles/<%= blog.urlExtention.replace(/ /g, "-")%>/<%= blog._id%>" class="text-decoration-none text-dark">
				<div class="card mb-3 border-0">
						<div class="row">
								<div class="col-md-6 col-lg-4 d-block">
									<img src="<%= blog.content[0].img.replace("/upload", "/upload/w_600") %>" class="img-fluid " alt="<%= blog.content[0].alt %>">
								</div>

								<div class="col-md-6 col-lg-8 d-block">
									<div class="card-body p-0  pt-2">
										<div class="post-meta">
											<span class="post-category text-light" ><%=blog.category%></span>
											<% if (blog.modifiedDate.length > 1){%>
												<span class="post-date text-muted"><%=blog.modifiedDate%></span>
											<%} else {%>
												<span class="post-date text-muted"><%= blog.createdDate.toDateString() %></span>
											<% } %>
											
										</div>
										
										<h5 class="card-title"><%- blog.title %></h5>
										
										<% if(blog.content[0].text.length > 0){ %>
										<p class="card-text  d-none d-sm-block"><%- blog.content[0].text.slice(0,90) + "..." %></p>
										<%} else if(blog.content[1] && blog.content[1].text.length > 0) {%>
									    <p class="card-text d-none d-sm-block"><%- blog.content[1].text.slice(0,90) + "..." %></p>
										<%} else{%>
										<p>
											 "no text"
										</p>
										<%}%>
										<p class="card-text mt-auto card-content-footer">	
										   <span class="text-muted">&#128065; <%=blog.views.all%></span>
											<span class="float-right read-more">Читать далее..</span>
										</p>
										

										 <div class="d-flex justify-content-between">
										  <form action="/articles/<%= blog._id %>/?_method=DELETE" method="POST">
											  <% if (currentUser){ %>
											  <input type="submit" class="btn btn-danger btn-sm " value="DELETE">
											  <% } %>
										  </form>
											 
										  </div>

									</div>
						      </div>
						</div>
				</div>
		</a>
	
<% }) %>
		
		
	</div>	
		
		<hr class="mb-3 shadow-lg">
		
		
		
		
		<!-- <div class="section">

<div class="container">

<div class="row">
<div class="col-md-8">
<div class="row">
<div class="col-md-12">
<div class="section-title">
<h2>Most Read</h2>
</div>
</div>

<div class="col-md-12">
<div class="post post-row">
<a class="post-img" href="blog-post.html"><img src="https://res.cloudinary.com/dnl9unhgy/image/upload/w_600/v1612666184/BuduZnat/jsveunxve3cbloqcdrfy.webp" alt=""></a>
<div class="post-body">
<div class="post-meta">
<a class="post-category cat-2" href="category.html">JavaScript</a>
<span class="post-date">March 27, 2018</span>
</div>
<h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
</div>
</div>
</div>
		 -->
		
		<!-- ==============Bottom tizers======== -->
<!-- 		
		<div class="bottomLazyLoad row d-flex justify-content-between mt-5 flex-wrap">
			
	<% allBlogs.forEach(blog =>{ %>
	
			<div class="col-md-6 col-lg-4 ">
				
			
  <div class="card mb-3"  >
  <img src="<%= blog.content[0].img %>" class="card-img-top" alt="<%= blog.content[0].alt %>">
  <div class="card-body">
    <h5 class="card-title"><%- blog.title %></h5>
	  
    
	  <div class="d-flex justify-content-between">
		   <a href="/articles/<%= blog.urlExtention.replace(/ /g, "-")%>/<%= blog._id%>" class="btn btn-primary btn-sm float-right">Продолжение..</a>
		  <span class="text-muted">&#128065; <%=blog.views.all%></span>
		  
		  <% if (currentUser){ %>
	  <form action="/articles/<%= blog._id %>/?_method=DELETE" method="POST">
		  <input type="submit" class="btn btn-danger btn-sm" value="DELETE">
	  </form>
		  <% } %>
	  </div>
  </div>
</div>
</div>
<% }) %>
</div> -->
		
		
		</div>	
		
		
		<!-- ===================Aside bar============ -->
		
		<div class="asideBar shadow-sm col-xl-3 d-none d-xl-flex flex-column position-relative" >
			<div class="topBlock  rounded  mb-5 mt-3 d-flex justify-content-center align-items-center"  style="height: 100px; max-width: 100%;background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);">
				 <div class="container-fluid ">
					 
					<form action="/articles/" method="GET" id="searchForm"  class="d-flex ">
					  <input id="searchInput" class="form-control me-2" type="text" placeholder="Search" name="search" aria-label="Search">
					  <button class="btn btn-success" type="submit">Search</button>
					</form>
					 
				  </div>
			</div>
			
			<div class="position-sticky"  style=" top: 80px; max-width:100%; height: 600px; background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
">
				
			</div>
		</div>
		
		
	
</div>


<script src="/javaScripts/search.js"></script>


