<% layout("/layouts/boilerplate") %>


<div class="row position-relative">
	
	
	
	<!-- =============main content============= -->
	<div class="mainContent  col-xl-9">
         <div class="container-fluid bg-light  rounded pb-1 shadow mb-1"><h1 style="font-family: 'Caveat', cursive;" class="text-start mb-3">Теперь ты будешь это знать..</h1></div>
	<div class=" d-flex justify-content-between flex-wrap">	
		
		
		
	
			
		
			<% allBlogs.forEach(blog =>{ %>
		<!-- ======card/////////////////// -->
<a href="/articles/<%= blog.urlExtention.replace(/ /g, "-")%>/<%= blog._id%>" class="text-decoration-none text-dark">
				<div class="card mb-3 shadow">
						<div class="row">
								<div class="col-md-6 col-lg-4 d-block">
									<img src="<%= blog.content[0].img %>" class="img-fluid " alt="<%= blog.content[0].alt %>">
								</div>

								<div class="col-md-6 col-lg-8 d-block">
									<div class="card-body">
										<h5 class="card-title"><%- blog.title %></h5>
										<p class="card-text"><%- blog.content[0].text.slice(0,90) + "..." %></p>
										<p class="card-text">	
										 <small class="text-muted"><%= blog.createdDate.toLocaleString() %></small> 
											<button  class="btn btn-primary">Read more</button>
										</p>

										 <div class="d-flex justify-content-between">
										  <form action="/articles/<%= blog._id %>/?_method=DELETE" method="POST">
											  <% if (currentUser){ %>
											  <input type="submit" class="btn btn-danger" value="DELETE">
											  <% } %>
										  </form>
										  </div>

									</div>
						      </div>
						</div>
				</div>
		</a>
<% }) %>
		
		
	</div>	
		
		<hr class="mb-3 shadow-lg">
		
		<!-- ==============Bottom tizers======== -->
		
		<div class="bottomLazyLoad row d-flex justify-content-between mt-5 flex-wrap">
			
	<% allBlogs.forEach(blog =>{ %>
	
			<div class="col-md-6 col-lg-4 ">
				
			
  <div class="card mb-3"  >
  <img src="<%= blog.content[0].img %>" class="card-img-top" alt="<%= blog.content[0].alt %>">
  <div class="card-body">
    <h5 class="card-title"><%- blog.title %></h5>
	  
    
	  <div class="d-flex justify-content-between">
		   <a href="/articles/<%= blog.urlExtention.replace(/ /g, "-")%>/<%= blog._id%>" class="btn btn-primary">Read more</a>
	  <form action="/articles/<%= blog._id %>/?_method=DELETE" method="POST">
		  <% if (currentUser){ %>
		  <input type="submit" class="btn btn-danger" value="DELETE">
		  <% } %>
	  </form>
	  </div>
  </div>
</div>
</div>
<% }) %>
</div>
		
		
		</div>	
		
		
		<!-- ===================Aside bar============ -->
		
		<div class="asideBar bg-dark col-xl-3 d-none d-xl-flex flex-column position-relative" >
			<div class="topBlock bg-secondary mb-5 mt-3"  style="height: 300px; max-width: 100%;">
				
			</div>
			
			<div class="position-sticky bg-light"  style=" top: 80px; max-width:100%; height: 500px;">
				
			</div>
		</div>
		
		
		
	
		
		
</div>





