<% layout("/layouts/boilerplate") %>

<div class="row">
	<div class="col-xxl-1 fixed-top d-none d-xxl-block">
		<btn class="btn btn-primary bt-5">F</btn>
	</div>
	
<!-- 	
	////// -->
	
	
	<div class=" col-xxl-9 col-xl-8 col-lg-12">
		 <% if (foundPage.published == false) { %>
		     <div class="alert alert-danger" role="alert">
  NOT PUBLISHED YET!
</div>
		<% } %>
		
		 <h1 class="text-start"> <%= foundPage.title %> </h1>
			<time class="text-muted" datetime="<%= foundPage.date %>">Date Created: <%= foundPage.date %></time>
	        
	<div class=" mb-5">
		<% foundPage.content.forEach(abstract => { %>
		
		     <h4 class=" m-3"> <strong><%= abstract.subtitle %></strong></h4>
			<p class="text-left mb-3"><%= abstract.text %></p>
		    <div >
				
				<% if ( abstract.img){ %>
				<img class="img-fluid mb-2" src="<%= abstract.img %>"  alt="<%= abstract.alt %>">
				<% } else{ %> 
				<hr> 
				<% } %>
		</div>
		
		<% }) %>
		
		<div class="d-flex justify-content-between">
			<category class="text-muted"> @London Bus</category>
			<category class="text-muted" > category/<span id="category"><%= foundPage.category %></span></category>
		</div>
		
	 <a href="/articleS/<%= foundPage._id%>/edit" class="btn btn-primary">Edit</a>
		
		<div class="container-fluid bg-light p-5 mt-5 mb-5 ">
			<button type="button" class="btn btn-primary">
  Share  <span class="badge bg-secondary">Facebook</span>
  <span class="visually-hidden">unread messages</span>
</button>
			
			<button type="button" class="btn btn-primary">
  Share  Vkontakte<span class="badge bg-secondary"></span>
  <span class="visually-hidden">unread messages</span>
</button>
		</div>
	</div>
	</div>
	
	<!-- /////////////// right Bar-->
	
	<div class="col-xxl-3 col-xl-4  d-none d-xl-flex flex-wrap justify-content-around  h-25" id="rightBar"></div>
	
	
	
	
	<!-- /////// nuzhna funkcyja na dobavlenie naprimer 10 statej pri prokrutke-->
	
	
	
	
	
	<div class=" col-xs-12 d-flex flex-wrap justify-content-around " id="lazyLoadingBlock">
		

	</div>
	
	
</div>
		
	

<script src="/javaScripts/getSomeBlogs.js"></script>