<% layout("/layouts/boilerplate") %>

<div class="row">
	<div class="fixed-top d-none d-xxl-flex flex-column justify-content-center align-items-center" style="width: 100px; height: 100%; z-index: 0;">
		<btn class="btn btn-primary m-3 ">F</btn>
		<btn class="btn btn-primary m-3 ">U <%= foundPage.views.unic %> </btn>
		<btn class="btn btn-primary m-3 ">all <%= foundPage.views.all %></btn>
	</div>
	
<!-- 	
	////// -->
	
	
	<div class="col-xl-8 col-lg-12 "  id="main-content">
		 <% if (foundPage.published == false) { %>
		     <div class="alert alert-danger" role="alert">
  NOT PUBLISHED YET!
</div>
		<% } %>
		
		 <h1 class="text-start"> <%- foundPage.title %> </h1>
			<time class="text-muted" datetime="<%= foundPage.date %>">Date Created: <%= foundPage.date %></time>
	        
	<div class=" mb-5">
		<% foundPage.content.forEach(abstract => { %>
		
		     <h4 class=" mt-5"> <strong><%- abstract.subtitle %></strong></h4>
			<p class="text-left mb-3"><%- abstract.text %></p>
		    <div >
				
				<% if ( abstract.img){ %>
				<img class="img-fluid mb-2" src="<%= abstract.img %>"  alt="<%= abstract.alt %>">
				<% } else{ %> 
				<hr> 
				<% } %>
		</div>
		
		<% }) %>
		
		<div class="d-flex justify-content-between">
			<category class="text-muted"> @London Bus</category>
			<category class="text-muted" > category/<span id="category"><%= foundPage.category %></span></category>
		</div>
		
		<% if (currentUser){ %>
	 <a href="/articleS/<%= foundPage._id%>/edit" class="btn btn-primary">Edit</a>
		<% } %>
		
		
		<div class="container-fluid bg-light p-5 mt-5 mb-5">
			<button type="button" class="btn btn-primary">
    @ <span >Поделиться на Facebook</span>
  <span class="visually-hidden">unread messages</span>
</button>
			
			<button type="button" class="btn btn-primary">
 @ <span class="mr-3">Рассказать ВКонтакте</span>
  <span class="visually-hidden">unread messages</span>
</button>
			
			<button type="button" class="btn btn-secondary">
 @ <span class=" mr-3"><%= foundPage.views.all%></span>
  <span class="visually-hidden">unread messages</span>
</button>
		</div>
	</div>
	</div>
	
	
	
	<!-- //Separator -->
	
	<div class="col-xl-1" ></div>
	
	<!-- /////////////// right Bar-->
	<div class="col-xl-3 d-none d-xl-flex flex-column position-relative " id="rightBar">
	<div id="rightBarBlocks" class=""></div>

	<div id="rightBar-stickyBlock" class="mt-5"></div>
	</div>
		
	
	
	

	
	
	<div class=" row col-xs-12 d-flex flex-wrap justify-content-around " id="lazyLoadingBlock"></div>
	
	
</div>
		
	

<script src="/javaScripts/getAndRender.js"></script>