<% layout("/layouts/boilerplate") %>





<div class="row ">
	<div class="fixed-top d-none d-xxl-flex flex-column justify-content-center align-items-center" style="width: 100px; height: 100%; z-index: 0;">
		<!-- uSocial -->
<script async src="https://usocial.pro/usocial/usocial.js?uid=0d29ac316bf58479&v=6.1.5" data-script="usocial" charset="utf-8"></script>
<div class="uSocial-Share" data-lang="en" data-pid="12c917de4e0f1ddbd200197eb0613643" data-type="share" data-options="round-rect,style1,default,left,bg,slide-down,size48,eachCounter0,counter1,counter-after,upArrow-left" data-social="vk,telegram,fb,vi,wa"></div>
<!-- /uSocial -->
	</div>
	
<!-- 	
	////// -->
	
	
	<div class="col-xl-8 col-lg-12 shadow-sm "  id="main-content">
		 <% if (foundPage.published == false) { %>
		     <div class="alert alert-danger" role="alert">
  NOT PUBLISHED YET!
</div>
		<% } %>
		
		 <h1 id="title" class="text-start"> <%- foundPage.title %> </h1>
		
		
			<time class="text-muted mr-3 " datetime="<%= foundPage.createdDate %>"> Created: <%= foundPage.createdDate.toLocaleString() %></time>
		<% if (foundPage.modifiedDate){ %>
		<time class="text-muted mr-3" datetime="<%= foundPage.modifiedDate %>"> Updated: <%= foundPage.modifiedDate.toLocaleString() %></time>
	        <%}%>
	<div class=" mb-5">
		<% foundPage.content.forEach(abstract => { %>
		     <% if ( abstract.subtitle.length){ %>
		     <h2 class="mt-5" style="font-size: 1.5rem"> <%- abstract.subtitle %></h2>
		     <% } %>
		
		<% if ( abstract.text.length){ %>
			<p class="text-left mb-3"><%- abstract.text %></p>
		<% } %>
		
		
		    <div>
				
				<% if ( abstract.img){ %>
				<img class="img-fluid mb-2 img-thumbnail shadow-sm" src="<%= abstract.img %>"  alt="<%= abstract.alt %>">
				<% } else{ %> 
				<hr> 
				<% } %>
		</div>
		
		<% }) %>
		
		<div class="d-flex justify-content-between  p-3 bg-light">
			<avtor class="text-muted"> © Буду Знать</avtor>
			<category class="text-muted" > category / <span id="category"><%= foundPage.category %></span></category>
			
			<div>
			<span class=" text-muted mr-3"> &#128065; <%= foundPage.views.all%> / <%= foundPage.views.unic%></span>
			<!-- uSocial -->
<script async src="https://usocial.pro/usocial/usocial.js?uid=0a413d65bef58479&v=6.1.5" data-script="usocial" charset="utf-8"></script>
<div class="uSocial-Like" data-lang="en" data-pid="779af406ca7643534527b0a9990c71f1" data-type="like" data-options="absolute,round-rect,horizontal" data-social="fb" data-appId-fb="459120748804212"></div>
<!-- /uSocial -->
				</div>
		</div>
		
		<% if (currentUser){ %>
	 <a href="/articleS/<%= foundPage._id%>/edit" class="btn btn-primary">Edit</a>
		<% } %>
		
		
		<div class="container-fluid   mt-5 mb-5 d-flex justify-content-between">
			
		<div>
			<!-- uSocial -->
<script async src="https://usocial.pro/usocial/usocial.js?uid=874ea09b3df58479&v=6.1.5" data-script="usocial" charset="utf-8"></script>
<div class="uSocial-Share" data-lang="en" data-pid="5bd72a260ab379ebbe8b65c31ec55431" data-type="share" data-options="round-rect,style1,default,absolute,horizontal,size48,eachCounter0,counter1,counter-after" data-social="vk,fb,vi,telegram,wa,spoiler"></div>
<!-- /uSocial -->
			
			</div>
		</div>
	</div>
	</div>
	
	
	
	<!-- //Separator -->
	
	<div class="col-xl-1" ></div>
	
	<!-- /////////////// right Bar-->
	<div class="col-xl-3 d-none d-xl-flex flex-column position-relative " id="rightBar">
	<div id="rightBarBlocks" class=""></div>

	<div id="rightBar-stickyBlock" class="mt-5"></div>
	</div>
		
	
	
	

	<div class="shadow-lg bg-light mb-5" style="width: 300px; height: 1px ; margin: 0 auto;" ></div>
	<div>
		<div class=" row col-xs-12 d-flex flex-wrap" id="lazyLoadingBlock"></div>
	</div>
	
	
	
</div>
		
	

<script src="/javaScripts/getAndRender.js"></script>
